<h1>Hola mundo</h1>
<form id="form" >
    <label for="name">Product</label>
    <input type="text" name="name" id="name">
    <label for="price">price</label>
    <input type="number" name="price" id="price">

    <input type="button" value="Send" id="btn">

   
</form>
 


<p id="products"></p>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>